<app-navbar><button class="btn btn-danger" (click)="logout()">Cerrar sesión</button></app-navbar>
<div class="container d-flex justify-content-center align-items-center animate__animated animate__fadeInUp"
    style="margin-top: 50px;">
    <div class="card mb-3 text-bg-dark" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="text-center mt-3">
                <h2>Bienvenido de nuevo {{ username }}</h2>
            </div>
            <h3>Tus comentarios:</h3>
            <ul>
                <li *ngFor="let comentario of comentarios">
                    {{ comentario.comentario }}
                </li>
            </ul>

            <div class="text-center mb-3">
                <button class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>