<app-navbar></app-navbar>
<div class="container d-flex justify-content-center align-items-center animate__animated animate__fadeInUp">
    <div class="card mb-3 text-bg-dark" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="../../../assets/foto.png" class="img-fluid rounded-start" alt="Perfil">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">Me llamo Simón</h1>
                    <p class="card-text">y quiero darte personalmente la bienvenida a mi portfolio personal, donde
                        podrás dshbfkalsdafbalsdhf kbdbhjsvaljfdshfvsf jfvhshfvshjvfshjfvsg</p>
                    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex justify-content-center align-items-center animate__animated animate__fadeInUp text-center">
    <div class="card text-bg-dark" style="max-width: 1000px;">
        <div class="card-body">
            <h3 class="mt-3">Comentarios</h3>
            <ul class="list-group" *ngFor="let comentario of listComentarios">
                <li class="list-group-item list-group-item-dark mb-1">El usuario {{ comentario.username }} comento: {{
                    comentario.comentario }}
                </li>
            </ul>
        </div>
        <app-spinner class="text-center mb-5" *ngIf="isLoading"></app-spinner>
    </div>
</div>